#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Responsive Design */
@media (max-width: 600px) {

}




.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full height of the viewport */
  background-color: #f0f0f0;
}

.lyrics-container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  color: #000;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

/* Button background colors */
.first-singer {
  background-color: #c5280c;
}

.second-singer {
  background-color: #1a2bc0;
}

.third-singer {
  background-color: #338330;
}

.fourth-singer {
  background-color: #ce8a0d;
}

.input-container {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.display-box {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  border: 2px solid #ddd;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  text-align: left;
}

/* Lyric background colors based on singer */
.lyric-entry.first-singer {
  background-color: #c5280c;
}

.lyric-entry.second-singer {
  background-color: #1a2bc0;
}

.lyric-entry.third-singer {
  background-color: #338330;
}

.lyric-entry.fourth-singer {
  background-color: #ce8a0d;
}

.lyric-entry {
  padding: 5px;
  border-radius: 5px;
  white-space: pre-wrap;
}

.home-link {
  margin-bottom: 20px;
  display: block;
}

